<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/js/src/admin.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="/static/css/style.css">-->
</head>
<body ng-app="GDAdmin" ng-controller="GDAdminController">

	<div id="page-wrapper">

		<div class="container-fluid">

			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">
						Tables
					</h1>
					<span><button ng-style="style0" ng-click="showme=true">Create User</button></span>
					<span><button ng-style="style0" ng-click="showme=false">Hide</button></span>
					  {% raw %}
					<div ng-show="showme">
					  <div class="form-group">
					    <label for="exampleInputEmail1">User Name {{ CuName }}</label>
					    <input ng-model="CuName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Email address {{ CuEmail }}</label@>
					    <input ng-model="CuEmail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
					    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Password {{ CuPassword }}</label>
					    <input ng-model="CuPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					  </div>

					  <div ng-show="CuShowError">
					  	<p class="error"><strong>Error:</strong>{{ CuError }}</p>
					  </div>
					  {% endraw %}
					  <button type="submit" class="btn btn-primary" ng-click="CreateUser()">Submit</button>
					</div>
					<ol class="breadcrumb">
						<!--
						<li>
							<i class="fa fa-dashboard"></i>  <a href="/admin/">Dashboard </a>
						</li>
						-->
						<li class="active">
							<i class="fa fa-table"></i> Tables
						</li>
					</ol>
				</div>
			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col-lg-6">
					<h2>Bordered Table</h2>
					<div class="table-responsive">
						<table class="table table-bordered table-hover table-striped">
							<thead>
								<tr>
									<th>User Id</th>
									<th>Name</th>
									<th>Email</th>
								</tr>
							</thead>
							<tbody>
							{% for user in user_list %}
								<tr>
									<td>{{ user['id'] }}</td>
									<td>{{ user['name'] }}</td>
									<td>{{ user['email'] }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

			<div class="row">
				<div class="col-lg-6">
					<h2>Bordered Table</h2>
					<div class="table-responsive">
						<table class="table table-bordered table-hover table-striped">
							<thead>
								<tr>
									<th>Task Id</th>
									<th>Task Name</th>
									<th>Task Status</th>
								</tr>
							</thead>
							<tbody>
							{% for task in task_list %}
								<tr>
									<td>{{ task['id'] }}</td>
									<td>{{ task['name'] }}</td>
									<td>{{ task['status'] }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
        <script>
        var server_url = "{{ SERVER_URL }}";
        
        </script>
        
</body>
</html>