<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/js/src/admin.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="/static/css/style.css">-->
</head>
<body ng-app="GDAdmin" ng-controller="GDAdminController" ng-init="Init()">

    <div id="page-wrapper">

        <div class="container-fluid">
            {% raw %}

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="page-header">
                        Tables    {{ ShowCu }}
                    </h1>
                    <span><button ng-style="style0" ng-click="HideCu=false">Create User</button></span>
                    <span><button ng-style="style0" ng-click="HideCu=true">Hide</button></span>
                    <div ng-class="{'ng-hide': HideCu}">
                      <div class="form-group">
                        <label for="exampleInputEmail1">User Name {{ ShowCu }}</label>
                        <input ng-model="CuName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address {{ CuEmail }}</label@>
                        <input ng-model="CuEmail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password {{ CuPassword }}</label>
                        <input ng-model="CuPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>

                      <div ng-show="CuShowError">
                        <p class="error"><strong>Error:</strong>{{ CuError }}</p>
                      </div>
                      {% endraw %}
                      <button type="submit" class="btn btn-primary" ng-click="CreateUser()">Submit</button>
                    </div>
                    <ol class="breadcrumb">
                        <!--
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="/admin/">Dashboard </a>
                        </li>
                        -->
                        <li class="active">
                            <i class="fa fa-table"></i> Tables
                        </li>
                    </ol>
                </div>
                <div class="col-lg-6">
                    <h1 class="page-header">
                        Tables
                    </h1>
                    <span><button ng-style="style0" ng-click="HideCt=false">Create Task</button></span>
                    <span><button ng-style="style0" ng-click="HideCt=true">Hide</button></span>
                      {% raw %}
                    <div ng-class="{'ng-hide': HideCt}">
                      <div class="form-group">
                        <label for="Example">Task Name</label>
                        <input ng-model="CtName" class="form-control" id="InputTaskName1" aria-describedby="taskHelp" placeholder="Enter Task Name">
                      </div>
                      <div class="form-group">
                        <label for="Example">Task Module</label@>
                        <input ng-model="CtModule" class="form-control" id="InputTaskModule1" aria-describedby="taskHelp" placeholder="Enter Module">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Task Options</label>
                        <textarea ng-model="CtOptions" class="form-control" id="InputTaskOptions1" placeholder="{&quot;MAC&quot;:&quot;FF:FF:FF:FF:FF:FF&quot;}">options:</textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Task Data</label>
                        <textarea ng-model="CtData" class="form-control" id="InputTaskData1" placeholder="{&quot;MAC&quot;:&quot;FF:FF:FF:FF:FF:FF&quot;}">data:</textarea>
                      </div>

                      <div ng-show="CtShowError">
                        <p class="error"><strong>Error:</strong>{{ CuError }}</p>
                      </div>
                      {% endraw %}
                      <button type="submit" class="btn btn-primary" ng-click="CreateTask()">Submit</button>
                    </div>
                    <ol class="breadcrumb">
                        <!--
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="/admin/">Dashboard </a>
                        </li>
                        -->
                        <li class="active">
                            <i class="fa fa-table"></i> Tables
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-6">
                    <h2>User Table</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>User Id</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% raw %}
                                <tr ng-repeat="user in UserList['list']">
                                    <td>{{ user['id'] }}</td>
                                    <td>{{ user['name'] }}</td>
                                    <td>{{ user['email'] }}</td>
                                    <td><span><button ng-style="style0" ng-click="DeleteUser(user['id'])">Remove User</button></span>
                                    <span><button ng-style="style0" ng-class="{'ng-hide': HideCu}" ng-click="UpdateUser(user['id'])">Update1 User</button></span>
                                </tr>
                            {% endraw %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2>Task Table</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Task Id</th>
                                    <th>Task Name</th>
                                    <th>Task Status</th>
                                    <th>Task Module</th>
                                    <th>Task Data</th>
                                    <th>Task Options</th>
                                    <th>Task action</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                            {% raw %}
                                <tr ng-repeat="task in TaskList['list']">
                                    <td>{{ task['id'] }}</td>
                                    <td>{{ task['name'] }}</td>
                                    <td>{{ task['status'] }}</td>
                                    <td>{{ task['module'] }}</td>
                                    <td>{{ task['data'] }}</td>
                                    <td>{{ task['options'] }}</td>
                                    <td><span><button ng-style="style0" ng-click="DeleteTask(task['id'])">Remove Task</button></span>
                                    <span><button ng-style="style0" ng-class="{'ng-hide': HideCt}" ng-click="UpdateTask(task['id'])">Update Task</button></span></td>
                                </tr>
                            {% endraw %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-6">
                    <h2>User Table</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Server Id</th>
                                    <th>Server Hostname</th>
                                    <th>Server Status</th>                                    
                                    <th>Server Machine Type</th>
                                    <th>Server Machine id</th>
                                    <th>Server Machine env</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% raw %}
                                <tr ng-repeat="user in UserList['list']">
                                    <td>{{ user['id'] }}</td>
                                    <td>{{ user['name'] }}</td>
                                    <td>{{ user['email'] }}</td>
                                    <td><span><button ng-style="style0" ng-click="DeleteUser(user['id'])">Remove User</button></span>
                                    <span><button ng-style="style0" ng-class="{'ng-hide': HideCu}" ng-click="UpdateUser(user['id'])">Update1 User</button></span>
                                </tr>
                            {% endraw %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2>Task Table</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Task Id</th>
                                    <th>Task Name</th>
                                    <th>Task Status</th>
                                    <th>Task Module</th>
                                    <th>Task Data</th>
                                    <th>Task Options</th>
                                    <th>Task action</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                            {% raw %}
                                <tr ng-repeat="task in TaskList['list']">
                                    <td>{{ task['id'] }}</td>
                                    <td>{{ task['name'] }}</td>
                                    <td>{{ task['status'] }}</td>
                                    <td>{{ task['module'] }}</td>
                                    <td>{{ task['data'] }}</td>
                                    <td>{{ task['options'] }}</td>
                                    <td><span><button ng-style="style0" ng-click="DeleteTask(task['id'])">Remove Task</button></span>
                                    <span><button ng-style="style0" ng-class="{'ng-hide': HideCt}" ng-click="UpdateTask(task['id'])">Update Task</button></span></td>
                                </tr>
                            {% endraw %}
                            </tbody>
                        </table>
                    </div>
                </div>
        <script>
        var server_url = "{{ SERVER_URL }}";
        </script>
        
</body>
</html>